/* GENERAL STYLES */
body{
    font-family: 'Montserrat', sans-serif;
    color: #7d7f84;
    font-size: 12px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-weight: 800;
}
/* /////////////////////////////////////////////////////////// */

/* UTILITIES */

/* Layout */
.display-none{
    display: none;
}

.flex{
    display: flex;
}

.flex-inline{
    display: inline-flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.items-flex-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.circle-wrap{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}


/* List */
.no-style-list{
    list-style: none;
}

.list-inline{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.list-inline li{
    padding-right: 1rem;
}


/* Text */
a{
    text-decoration: none;
    color: inherit;
}

.app-content span,
.app-content p{
    font-size: 10px;
}

.playlist-items a{
    font-size: 11px;
}

.c-white{
    color: #fff;
}

.text-11{
    font-size: 11px;
}

.text-14{
    font-size: 14px;
}

.text-16{
    font-size: 16px;
}


/* Image */
.img-rounded{
    border-radius: 50%;
}


/* Buttons */
.btn{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid currentColor;
    border-radius: 18px;
    font-size: 10px;
}
/* /////////////////////////////////////////////////////////// */

/* MAIN-CONTENT */
.sidebar,
.XS-sidebar,
.app-content{
    height: calc(100vh - 80px);
}
/* /////////////////////////////////////////////////////////// */

/* SIDEBAR/ XS-SIDEBAR*/
.sidebar,
.XS-sidebar{
    min-width: 200px;
    background: #000;
    padding: 15px 15px 0 0;
    justify-content: space-between;
    overflow-y: hidden;
}


/* Logo */
.sidebar .logo{
    width: 150px;
    height: 65px;
}

.sidebar .logo img,
.XS-sidebar svg{
    width: 100%;
}


/* Nav-list */
.sidebar .nav-list a span{
transition: color 0.4s;
}

.sidebar .nav-list li:first-child a{
    border-left: 2px solid #adff2f;
}

.sidebar .nav-list li:first-child svg,
.XS-sidebar .nav-list li:first-child svg{
    fill: #d8d8d8;
}

.sidebar .nav-list svg,
.XS-sidebar .nav-list svg{
    width: 25px;
    margin-right: 5px;
    fill: #a3a3a3;
    transition: fill 0.4s;
}


/* Hover nav-list */
.sidebar .nav-list a:hover span{
    color: #fff;
}

.sidebar .nav-list a:hover svg,
.XS-sidebar .nav-list a:hover svg{
    fill: #fff;
}


/* Playlist */
.playlist-content a{
    transition: color 0.4s,
}

.playlist-content .square-plus{
    width: 30px;
    height: 30px;
    background: #a3a3a3;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.playlist-content .square-plus i{
    font-size: 18px;
    color: #000;
}

.playlist-content .playlist-items{
    max-height: 180px;
    overflow-y: auto;
}

.playlist-content .playlist-items a{
    line-height: 1.8rem;
}


/* Hover playlist */
.playlist-content a:hover{
    color: #fff;
}

.playlist-content a:hover .square-plus{
    background-color: #fff;
}


/* Bottom-bar */
.bottom-bar a:first-child span{
    transition: color 0.4s;
}

.bottom-bar a:first-child svg{
    width: 15px;
    margin-right: 5px;
    fill: #a3a3a3;
    transition: fill 0.2s;
}

.bottom-bar img{
    width: 100%;
}


/* Hover bottom-bar */
.bottom-bar a:first-child:hover span{
    color: #fff;
}

.bottom-bar a:first-child:hover svg{
    fill: #fff;
}
/* /////////////////////////////////////////////////////////// */

/* APP.CONTENT*/
.app-content{
    flex-grow: 1;
    background: #141922;
    position: relative;
}

.app-content .app-scrollable{
    height: 100%;
    overflow-y: auto;
    padding: 95px 15px 0;
}


/* Upgrade */
.app-content .upgrade-wrap,
.app-content .upgrade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.85);
}

.app-content .upgrade{
    max-width: 1550px;
    background: transparent;
}

.app-content .upgrade .btn{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform 0.2s;
}


/* Hover upgrade */
.app-content .upgrade .btn:hover{
    transform: scale(1.1) translateY(-50%);
}


/* Top-list */
.app-content .top-list-wrap{
    max-width: 1600px;
}

.app-content .top-list-wrap li{
    margin-bottom: 20px;
}

.app-content .top-list-wrap li a{
    transition: color 0.4s;
}

.app-content .top-list-wrap li:first-child hr{
    width: 35%;
    margin:10px auto 0 auto;
    border-color: #adff2f;
}


/* Hover top-list */
.app-content .top-list-wrap li a:hover{
    color: #fff;
}


/* Gallery */
.gallery-section .gallery-content{
    flex-wrap: wrap;
}

.gallery-section .gallery-content .gallery-col{
    flex-basis: calc((100% / 6) - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 250px;
}

.gallery-section .gallery-col img{
    width: 100%;
    cursor: pointer;
}

.gallery-section .gallery-col .gallery-text{
    flex-direction: column;
    align-items: center;
}
/* /////////////////////////////////////////////////////////// */

/* FOOTER */
.foot-content{
    background: #282828;
}

.foot-content .foot-wrap{
    height: 80px;
    max-width: 1750px;
    background: transparent;
}


/* Player left */
.foot-content .player-left{
    padding-left: 10px;
}

.foot-content .player-left .player-img{
    width: 50px;
    height: auto;
}

.foot-content .player-left .player-img img{
    width: 100%;
    height: 100%;
}

.foot-content .player-left a > span,
.foot-content .player-left i{
    cursor: pointer;
    transition: color 0.4s,
                text-decoration 0.4s;
}


/* Hover player-left */
.foot-content .player-left a:hover > span{
    text-decoration: underline;
}

.foot-content .player-left a:hover > span,
.foot-content .player-left i:hover{
    color: #fff;
}

.foot-content .player-left div:last-child i{
    padding: 5px 5px 0;
}


/* Player center */
.player-center .player-center-icon i{
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.player-center .player-center-icon i:nth-child(3){
    font-size: 30px;
    padding: 10px 20px;
}


/* Hover player-center */
.player-center .player-center-icon i:hover{
    transform: scale(1.1);
}

.player-center .player-center-icon i:nth-child(3):hover{
    transform: scale(1.2);
}


/* Player-time-bar / Volume-bar */
.player-bar{
    cursor: pointer;
}

.player-bar span{
    cursor: default;
}

.player-time-bar{
    flex-grow: 1;
    margin: 0 15px;
    position: relative;
    cursor: pointer;
}

.player-time-bar hr{
    border: 2px solid #5a5a5a;
    border-radius: 10px;
}

.player-center .player-bar .player-time-bar hr:first-child{
    width: 30vw;
    max-width: 600px;
}

.player-right .player-time-bar hr:first-child{
    width: 7.5vw;
    max-width: 150px;
    min-width: 70px;
}

.player-time-bar hr:last-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    border-color: #ccc;
    transition: border-color 0.2s;
}


/* Hover time-bar */
.player-bar:hover .player-time-bar hr:last-child,
.player-time-bar:hover hr:last-child{
    border-color: #adff2f;
}

.player-time-bar::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f111";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -55%);
    font-size: 11px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.player-bar:hover .player-time-bar::before,
.player-time-bar:hover::before{
    opacity: 1;
}


/* Player-right */
.foot-content .player-right{
    color: #ccc;
}

.foot-content .player-right i{
    padding: 0 7px;
    cursor: pointer;
    transition: color  0.4s;
}

.foot-content .player-right i:first-child{
    padding-left: 0;
}

.foot-content .player-right i:nth-child(3){
    padding-right: 0;
}

.foot-content .player-right .player-time-bar{
    padding: 2px 0;
}

.player-right .player-time-bar hr:last-child{
    top: 2px;
}


/* Hover player-right */
.foot-content .player-right i:hover{
    color: #fff;
}
/* /////////////////////////////////////////////////////////// */

/* RESPONSIVE */

/* MD */
@media screen and (max-width: 1199px){
    /* GALLERY */
    .gallery-section .gallery-content .gallery-col{
        flex-basis: calc((100% / 4) - 15px);
    }
}
/* /////////////////////////////////////////////////////////// */

/* SM */
@media screen and (max-width: 767px){
    /* GALLERY */
    .gallery-section .gallery-content .gallery-col{
        flex-basis: calc((100% / 2) - 15px);
    }


    /* FOOTER */

    /* Player-left */
    .foot-content .player-left .player-img{
        width: 40px;
    }

    .foot-content .player-left .player-img-text h4{
        font-size: 11px;
    }

    .foot-content .player-left .player-img-text span{
        font-size: 9px;
    }

    .foot-content .player-left div:last-child{
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    
    
    /* Player-center */
    .foot-content .player-bar span{
        font-size: 9px;
    }
    
    .foot-content .player-bar .player-time-bar{
        margin: 0 5px;
    }
    
    .foot-content .player-center{
        text-align: 13px;
    }

    .player-center .player-center-icon i:nth-child(3){
        font-size: 28px;
        padding: 12px 15px;
    }

    .player-center .player-bar .player-time-bar hr:first-child{
        width: 25vw;
    }


    /* Player-right */
    .foot-content .player-right{
        font-size: 13px;
    }

    .foot-content .player-right i{
        padding: 0 5px;
    }

    .foot-content .player-right .player-time-bar{
        margin-left: 7px;
    }
}
/* /////////////////////////////////////////////////////////// */

/* XS */
@media screen and (max-width: 600px){
    /* SIDEBAR */
    .sidebar{
        display: none;
    }

    .XS-sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 50px;
        padding: 10px 5px;
    }

    .XS-sidebar .XS-topbar-wrap > svg{
        fill: #fff;
        width: 30px;
    }

    .XS-sidebar .nav-list svg{
        margin-right: 0;
    }

    .XS-sidebar .bottom-bar a:first-child svg{
        margin-right: 1px;
    }

    .circle-wrap{
        margin-right: 0;
    }
}
/* /////////////////////////////////////////////////////////// */